/* Builds Page Styles Below */
#buildSearchBar {
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#buildsBox {
  max-height: calc(100vh - 138px);
}

#buildsGallery {
  max-width: 80vw;
  height: 80vh;
  margin: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.buildBoxDefault {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.buildCard {
  border: 0px solid;
  border-radius: 23px;
  box-shadow: 0px 0px 4px 4px rgb(110, 80, 145);
  border-color: rgba(94, 91, 91, 0);
  background-clip: content-box;
  background-color: rgb(0, 0, 0);
  width: 20rem;
  height: 15rem;
  margin: 1em;
  transition: .2s ease;
  backface-visibility: hidden;
}

button.saveBtn {
  border-style: none;
  border-radius: 0px;
  max-width: 5.5rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #6c698d;
}

div.card-body div.buildTitle {
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buildCardImg {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

img.buildCardImg {
  border-radius: 23px 23px 0% 0%;
}

.card-body {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 0px 0px  23px 23px;
}

.profileComment {
  border: 2px solid;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}

/* Builds Page Styles Above */

.buildCardGear {
  color: #5b409b;
}