div.navGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 38px;
}

.navPages {
  display: flex;
  align-items: center;
  margin: 1em;
  /* justify-items: space-around; */
}

a h3.navLinks {
  margin: auto;
  font-family: "Rubik";
  font-weight: normal;
  color: #6c698d;
}

.linkBox a {
  text-decoration: none;
}

.linkBox a:hover {
  text-decoration: underline;
}

.linkBox {
  display: flex;
  padding: 1em;
  margin-bottom: 1em;
  margin: auto;
}

/* .linkBox:hover {
  background-color: rgb(102, 250, 159);
} */

.navButtons {
  display: flex;
}

.navButtons button btn-primary {

}

.navBtnGroup {
  display: flex;
  align-items: center;
}

.fa-1x {
  height: 1.5em;
  /* color: #6c698d; */
}
